<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>TinyApp</title>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <%= longURL.longURL %></h5>
        <p class="card-text">
          Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a>
        </p>
        <% if (error) { %>
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
        <% } %>
        <div
          class="card text-center"
          style="background-color: rgb(243, 237, 237);"
        >
          <form
            action="/urls/<%= shortURL %>?_method=PUT"
            method="POST"
            style="margin: 20px;"
          >
            <h5 style="color: rgb(92, 89, 89);">Edit</h5>
            <label for="longURL" style="color: rgba(112, 111, 111, 0.705);"
              >New URL:</label
            >
            <input type="text" name="longURL" placeholder="http://" />
            <button class="btn btn-primary" type="submit">
              Submit
            </button>
          </form>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Short URL</th>
            <th scope="col">Views</th>
            <th scope="col">Unique Users</th>
            <th scope="col">Time Stamps</th>
            <th scope="col">Unique Views</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="/u/<%= shortURL %>"><%= shortURL %></a>
            </td>
            <td><%= longURL.views %></td>
            <% if (longURL.visitorIds.length !== 0) { %> <% for( let i of
            longURL.visitorIds[0]) { %>
            <td><%= i %></td>
            <% } %> <% } %>
            <td>
              <%= longURL.uniqueViews %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="card-footer text-muted"></div>
    </div>
    <!-- Bootstrap JS -->
    <%- include('partials/_scripts') %>
  </body>
</html>
